@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --solid-black-700: #18191C;
  --solid-black-500: #212225;
  --solid-black-300: #2e2e2e;
  --solid-gray: #c5c5c5;
  --solid-white: #f4f4f4;
  --solid-blue: #34A0D0;
}